# Problem Set-2

### \*Answer-1\*

In [3]:
a = 0                      # This has a global scope
def b():
    global a               # All reference to a in b() are to the global a
    a = c(a)               # This a has global scope
def c(a):
    return a + 2           # This a is global a

In [4]:
>>> b()

In [5]:
>>> b()

In [6]:
>>> b()

In [7]:
>>> a

6

###### Here, a is a global variable. ">>> b()" is just for updating the value of "a". While "b" is called 3 times for the first it will add 2 into 0 then for 2nd time another 2 in it and finally 3rd time so answer here will be 6.

### \*Answer-2\*

In [31]:
def file_length(file_name):
    'Function to write friendly message when error raised.'
    
    try: 
        file = open(file_name)
        
        contents = file.read()
        
        file.close()
        
        print(len(contents))
    
    except:
        print('File {} not found.' .format(file_name))

In [32]:
>>> file_length('midterm.py')

358

In [33]:
>>> file_length('idterm.py')

File idterm.py not found.

### \*Answer-3\*

###### Part-1

In [1]:
class Marsupial:
   
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, content):
        self.pouch.append(content)             # To add contents.
        
    def pouch_contents(self):
        return(self.pouch)

In [34]:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')           # Adding into 'pouch_contents'. 
>>> m.pouch_contents()

['doll', 'firetruck', 'kitten']

###### Part-2

In [35]:
class Marsupial:
   
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, content):
        self.pouch.append(content)
        
    def pouch_contents(self):
        return(self.pouch)

class Marsupial:
   
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, content):
        self.pouch.append(content)
        
    def pouch_contents(self):
        return(self.pouch)

class Kangaroo(Marsupial):                   # Making "Kangaroo" as a sub class of "Marsupial"
    
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, x, y):                    # Change coordinates.
        self.x += x
        self.y += y
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

In [36]:
>>> k = Kangaroo(0,0)
>>> print(k)

I am a Kangaroo located at coordinates (0,0)

In [37]:
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)

I am a Kangaroo located at coordinates (3,0)

### \*Answer-4\*

In [31]:
from tkinter import *
root = Tk()



class Mortgage(Frame):
    'Left side of the GUI i.e. Entires'

    def __init__(self, master):
        
        Frame.__init__(self, master)
        'For Loan Amount button'
        labelLoan = Label(self,padx = 15,text= 'Loan Amount:')
        labelLoan.grid(row = 1, column = 0, columnspan = 4 )
        entryLoan = Entry(self)       
        entryLoan.grid(row = 1, column = 4, columnspan = 4)


        'For Interest Rate button'
        labelRate = Label(self,padx = 15,text= 'Interest Rate:')        
        labelRate.grid(row = 2, column = 0, columnspan = 4)        
        entryRate = Entry(self)        
        entryRate.grid(row = 2, column = 4, columnspan = 4)


        'For Loan Terms button'
        labelLoanTerm = Label(self,padx = 15,text= 'Loan Terms:')
        labelLoanTerm.grid(row = 3, column = 0, columnspan = 4)
        entryLoanTerm = Entry(self)
        entryLoanTerm.grid(row = 3, column = 4, columnspan = 4)


        'For Compute Mortgage button'
        buttonCoMo = Button(self,padx = 15,text= 'Compute Mortgage')
        buttonCoMo.grid(row = 4, column = 0, columnspan = 4)
        entryCoMo = Entry(self)
        entryCoMo.grid(row = 4, column = 4, columnspan = 4)
        
class Calculator(Frame):
    'Right side of the GUI i.e. Calculator'

    def __init__(self, master):
        
        Frame.__init__(self, master)
        
        entryLoan = Entry(self)
        entryLoan.grid(row = 0, column = 0, columnspan = 4)

        numbers = [['MC',  'M+', 'M-', 'MR'],
                   ['C', '\u221A','x\u00b2','+'],
                   ['7','8','9','-'],
                   ['4', '5','6','*'],
                   ['1','2', '3', '/'],
                   ['0', '.', '+-', '=']]
        
        for r in range(6):
            
            for c in range(4):
            
                button = Button(self,padx = 10,width = 5,text = numbers[r][c])
                
                button.grid(row = r+1, column = c)
                
mortgage = Mortgage(root)
mortgage.pack(side = LEFT)

calculator = Calculator(root)
calculator.pack(side = RIGHT)


root.mainloop()

### \*Answer-5\*

In [10]:
def collatz(x): 
    'Program to write collatz sequence.'
    while x != 1: 
        print(x, end = '\n') 
  
        if  x & 1:                    # if x is 'odd'
            x = 3 * x + 1

        else: 
            x = x // 2               # if x is 'even'
 
    print(x)

In [11]:
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

### \*Answer-6\*

In [26]:
def binary(x):
    'Program which return binary value.'   

    if x == 0: 
        return 0
    
    else: 
        return (x % 2 + 10 * binary(int(x // 2)))
    
    print(binary(x))

In [27]:
binary(0)

0

In [28]:
binary(1)

1

In [29]:
binary(3)

11

In [30]:
binary(9)

1001

### \*Answer-7\*

In [94]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading_Tag=""
    
    def Start_Tag(self,tag,attrs):
        self.heading_Tag=tag
        
    def handle_data(self, data):
        if(self.heading_Tag=="h1"):
            print(data)
            self.heading_Tag=""
            
        elif(self.heading_Tag=="h2"):
            print(' ' *1,data)
            self.heading_Tag=""
            
        elif(self.heading_Tag=="h3"):
            print(' ' * 2,data)
            self.heading_Tag=""
            
        elif(self.heading_Tag=="h4"):
            print(' ' * 3,data)
            self.heading_Tag=""
            
        elif(self.heading_Tag=="h5"):
            print(' ' * 4,data)
            self.heading_Tag=""
            
        elif(self.heading_Tag=="h6"):
            print(' ' * 5,data)
            self.heading_Tag=""

In [95]:
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)

The World Wide Web Consortium
  Who are the W3C members?
  Who are the W3C team members?
  Why should I join?
  Activities of the W3C
  Ways to get involved

### \*Answer-8\*

In [ ]:
from urllib.request import urlopen
def getLink(url)

### \*Answer-9\*

In [28]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("CREATE TABLE WD (City text,Country text,Season text,Temperature float,Rainfall float)")
b.execute("INSERT INTO WD VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
b.execute("INSERT INTO WD VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
b.execute("INSERT INTO WD VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
b.execute("INSERT INTO WD VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
b.execute("INSERT INTO WD VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
b.execute("INSERT INTO WD VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
b.execute("INSERT INTO WD VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
b.execute("INSERT INTO WD VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
b.execute("INSERT INTO WD VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
b.execute("INSERT INTO WD VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
b.execute("INSERT INTO WD VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
b.execute("INSERT INTO WD VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
a.commit()
a.close()

#### a: All temperature data

In [30]:
import sqlite3
a = sqlite3.connect('weather.db')
b = con.cursor()
b.execute('SELECT Temperature FROM WD')
b.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### b: All cities but without repetition

In [16]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute('SELECT DISTINCT City FROM WD')
b.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### c: All cities but without repetition

In [17]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT * FROM WD WHERE Country = 'India'")
b.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d: All the Fall records

In [18]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT * FROM WD WHERE Season = 'Fall'")
b.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e: The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [19]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT City,Country,Season,Rainfall FROM WD WHERE Rainfall BETWEEN 200 AND 400")
b.fetchall()

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

#### f:	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [20]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT City,Country FROM WD WHERE Season='Fall' AND Temperature >= 20 ORDER BY Temperature ASC")
b.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### g: The total annual rainfall for Cairo.

In [21]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT SUM(Rainfall) FROM WD WHERE City = 'Cairo'")
b.fetchall()

[(27.6,)]

####  h: The total rainfall for each season

In [29]:
import sqlite3
a = sqlite3.connect('weather.db')
b = a.cursor()
b.execute("SELECT SUM(Rainfall) FROM WD")
b.fetchall()

[(2697.8999999999996,)]

### \*Answer-10\*

In [79]:
def Capital(words):
    'Convert into Capital Letters.'
    for i in range(len(words)):
        words[i]=words[i].upper()
    return words

def Small(words):
    'Convert into Small Letters.'
    for i in range(len(words)):
        words[i]=words[i].lower()
    return words

def Length(words):
    'Length of each word as a list.'
    list=[]
    for i in range(len(words)):
        list.append(len(words[i]))
    return list

def Capital_Small_Length(words):
    'The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word'
    list=[]
    temp=[]
    for i in range(len(words)):
        temp.append(words[i].upper())
        temp.append(words[i].lower())
        temp.append(len(words[i]))
        list.append(temp)
        temp=[]
    return list

def new_List(words):
    'the list of words in list words containing 4 or more characters.'
    list=[]
    for i in range(len(words)):
        if len(words[i])>=4:       
            list.append(words[i])
    return list

In [80]:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] # List

#### a. Convert into Capital

In [71]:
print(Capital(words))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b. Convert into Small

In [72]:
print(Small(words))

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c. Length of each word as a list

In [73]:
print(Length(words))

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d. The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.

In [81]:
print(Capital_Small_Length(words))

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e. the list of words in list words containing 4 or more characters

In [82]:
print(new_List(words))

['quick', 'brown', 'jumps', 'over', 'lazy']